/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-oct-2017, 0:48:43
    Author     : vicente
*/

.header {
 	text-align: center; 
    background-color: lightblue;
    color: white;
    font-size: 4em;
}

.header img {
    width: 48px;
    height: 48px;
}

.titulo {
	margin-top: 1em;
	margin-bottom:1em;
	text-align: center;
    background-color: #a6e6a3;
    color: white;
}

.titulo .badge{
	margin-left: 1em;
	margin-bottom: 0.2em;
}

.footer {
	text-align: center;
    background-color: lightgrey;
}

.cambiaIdioma {
	cursor: pointer;
}

.tooltip-inner{
	color: red;
	background-color: aqua;
}

.fotouser {
    text-align:center;
}

.fotouser img {
	height: 200px;
	width: 200px;
}