            <div class="footer">Technical test by Vicente &Aacute;lvarez</div>
        </div>
    </div>
    <script type="text/javascript" src="/Ateknea/js/jquery.js"></script>
    <script type="text/javascript" src="/Ateknea/js/custom.js"></script>
    <script type="text/javascript" src="/Ateknea/js/popper.js"></script>
    <!-- script type="text/javascript" src="/Ateknea/js/popper-utils-js"></script -->
    <script type="text/javascript" src="/Ateknea/js/toast.js"></script>
    <script type="text/javascript" src="/Ateknea/js/tooltip.js"></script>
    <script type="text/javascript" src="/Ateknea/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Ateknea/js/paginacion.js"></script>
    <script type="text/javascript" src="/Ateknea/js/bootstrap-toggle.js"></script>  
</body>
</html>